.detail-container {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5; 
    padding: 2rem;
    min-height: 100vh; /* optional full viewport height */
  }
  
  mat-card {
    width: 600px;
    padding: 1rem;
  }
  
  .full-width {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  